img{
    position:absolute;
    opacity:0;
}

.frame1 {
    opacity: 1;
}

.logo {
    opacity: 1;
    top: 88%;
    right: 55%;
    z-index: 10;
}

.text {
    z-index: 10;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text1 {
    top: 12%;
}

.gallery {
    position: relative;
    width: 300px;
    height: 250px;
    overflow: hidden;
}

.text4 {
    top: 18%;
    left: 50%;
}

.title4 {
    top: 8%;
    left: 50%;
}

.buttonText {
    position: absolute;
    z-index: 10;
    opacity: 0;
    top: 25%;
    left: 20%;
    margin: 0;
}

button {
    top: 86%;
    left: 62%;
    z-index: 10;
    margin: 0;
    width: 100px;
    height: 22px;
    color: white;
    background-image: linear-gradient(#c61d23, #c61d20);
    position: absolute;
    opacity: 0;
    border: none;
    border-radius: 2px;
    box-shadow: 2px 2px 3px black;
    overflow: hidden;
}

button:before,
button:after {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    background-color: #fff;
    opacity: 0.3;
    transform: rotate(45deg);
    transition: all ease 0.75s;
    z-index: 11;
}

.gallery:hover > button:after,
.gallery:hover > button:before{
    left: 100%;
}

  
  
  
  
  
  
  
  
  
  
  